<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
</head>
<body>
<div class="page">
    <%include components/top.inc.ejs%>
     <div class="content_wrap">
         我是管理首页的~
    </div>
</div>
</body>
</html>